<%= form_for(:filter, url: root_path, method: :get ) do |f| %>
  Name: <%= f.text_field :beer_name %><br>
  ABV: <%= f.text_field :abv_gt %> <%= f.text_field :abv_lt %><br>
  IBU: <%= f.text_field :ibu_gt %> <%= f.text_field :ibu_lt %><br>
  <%= f.submit 'Go' %>
<% end %>
