<%= render 'filters' %>
<table>
  <tr>
    <th><%= link_to 'Name', sort: 'name', direction: sort_direction('name'), filter: params[:filter] %></th>
    <th>Description</th>
    <th>First Brewed</th>
    <th><%= link_to 'Abv', sort: 'abv', direction: sort_direction('abv'), filter: params[:filter] %> </th>
    <th><%= link_to 'Ibu', sort: 'ibu', direction: sort_direction('ibu'), filter: params[:filter] %></th>
  </tr>
  <% @response.each do |element| %>
    <tr>
      <td><%= element['name'] %></td>
      <td><%= element['description'] %></td>
      <td><%= element['first_brewed'] %></td>
      <td><%= element['abv'] %></td>
      <td><%= element['ibu'] %></td>
    </tr>
  <% end %>
</table>
